{% extends 'lendingLibrary/base.html' %}

{% block title %}
<title>Category - Neighborhood Lending Library</title>
{% endblock %}

{% block heading %}
<div class="block_heading">Items in "{{category_name|title}}"</div>
{% endblock %}

{% block content %}
  <div class="item_list">
    {% if items %}
        {% for item in items %}
        <div class="single_row">
          <div>
            <a href="{% url 'lendingLibrary:item_details' item.id item.slug %}"><img src="{{item.image_url}}" class="item_detail_image"/></a>
          </div>
          <div>
            <span class="item_title_new">
              <a href="{% url 'lendingLibrary:item_details' item.id item.slug %}">{{item.name}}</a>
            </span>
            {% if item.description != '' %}
            <span class="item_description" style="width: 580px">{{item.description}}</span>
            {% else %}
            <span class="item_description" style="width: 580px"><i>no description</i></span>
            {% endif %}
            {% if request.user.username %}
              <div align="center" style="padding: 25px">
                <span><b>Status</b>: <span style="border: 1px solid gray; padding: 4px; background-color: #FFF">{{item.item_status}}</span></span>
                {% if item.item_status.name != 'Unavailable' and item.item_status.name != 'Requested' and item.item_status.name != 'Checked Out' %}
                <form action="{% url 'lendingLibrary:request_item' %}" method="post">
                  {% csrf_token %}
                  <input type="hidden" name="user_item" value="{{item.id}}"/>
                  <input type="hidden" name="borrower" value="{{request.user.id}}"/>
                  <button type="submit">Request</button>
                </form>
                {% else %}
                <button style="visibility: hidden">--------</button>
                {% endif %}
              </div>
            {% else %}
              <p style="font-size:0.7em">You have to be logged in.</p>
            {% endif %}
          </div>
          <div>
            <!-- Available, Unavailable, Checked Out, Requested, Hidden, Lost -->
            <div><b>Category</b>: <a href="{% url 'lendingLibrary:category' item.category %}">{{item.category|title}}</a></div>
            {% if item.owner.username == request.user.username %}
              <div><b>Lender</b>: <a href="{% url 'lendingLibrary:my_items' %}">{{item.owner.username|title}}</a></div>
            {% else %}
              <div><b>Lender</b>: <a href="/user/{{item.owner.id}}/">{{item.owner.username|title}}</a></div>
              <div><b>Condition</b>: {{item.condition.name}}</div>
            {% endif %}
          </div>
        </div> <!-- end of 'single_row' -->
        {% endfor %}
    {% else %}
      <p><i>There are 0 available items in this category.</i></p>
    {% endif %}
  </div> <!-- end of 'item_list' -->
{% endblock %}
