{% extends 'lendingLibrary/base.html' %}

{% block title %}
  <title>Contact - Community Lending Library</title>
{% endblock %}

{% block heading %}
  <h2>&nbsp;</h2>
{% endblock %}

{% block content %}
<div class="about_page">
  <div class="about_title">Contact</div>
  <div class="about_content">
    <!-- <p class="about_heading">Contact</p> -->
    <p>
      Please <a href="mailto:lmoiola@gmail.com?subject=feedback">contact me</a> if you have any comments or suggestions or find a bug.
    </p>
    <hr/>
    <h5>
      <i>Larry Moiola * <a href="mailto:lmoiola@gmail.com?subject=feedback">lmoiola@gmail.com</a></i>
    </h5>
  </div> <!-- end of 'about_content' -->
</div> <!-- end of 'about_page' -->
{% endblock %}
