{% extends 'lendingLibrary/base.html' %}

{% block title %}
<title>Edit Item - Neighborhood Lending Library</title>
{% endblock %}

{% block heading %}
<h2>Manage Your Items</h2>
{% endblock %}

{% block content %}
  <div id="item_list"> <!-- start of 'item_list' -->
    <table>
      <tr>
        <th>Edit an item</th>
      </tr>
      <tr>
        <td style="!text-align:center; padding: 20px">
          <div>
            <form action="{% url 'lendingLibrary:save_edited_item' %}" method="post" name="edit_item" id="edit_item">
              {% csrf_token %}
              <div>Name</div>
              <div>
                <input name="name" type="text" value="{{item.name}}" style="width: 300px" required>
              </div>
              <div>Description</div>
              <div>
                <textarea name="description" style="width: 300px">{{item.description}}</textarea>
              </div>
              <div>Image URL</div>
              <div>
                <input name="image_url" type="text" value="{{item.image_url}}" style="width: 300px">
              </div>
              <div>Category</div>
              <div>
                <select name="category" value="" style="width: 300px" required>
                  {% for category in categories %}
                    {% if item.category.id == category.id %}
                      <option value="{{category.id}}" selected>{{category.name}}</option>
                    {% else %}
                      <option value="{{category.id}}">{{category.name}}</option>
                    {% endif %}
                  {% endfor %}
                </select>
              </div>
              <div>Condition</div>
              <div>
                <select name="condition" value="" style="width: 300px" required>
                  {% for condition in conditions %}
                    {% if item.condition.id == condition.id %}
                      <option value="{{condition.id}}" selected>{{condition.name}}</option>
                    {% else %}
                      <option value="{{condition.id}}">{{condition.name}}</option>
                    {% endif %}
                  {% endfor %}
                </select>
              </div>
              <div>Replacement Cost</div>
              <div>
                <input name="replacement_cost" type="number" value="{{item.replacement_cost}}" style="width: 300px" required>
              </div>
              {% if item.item_status.name != "Checked Out" %}
                <div>Item Status</div>
                <div>
                  <select name="item_status" style="width: 300px" required>
                    {% for item_status in item_statuses %}
                      {% if item.item_status.id == item_status.id %}
                        <option value="{{item_status.id}}" selected>{{item_status.name}}</option>
                      {% else %}
                        <option value="{{item_status.id}}">{{item_status.name}}</option>
                      {% endif %}
                    {% endfor %}
                  </select>
                </div>
              {% else %}
                <span></span> <!-- kludge prevents button indent due to CSS odd/even rules :( -->
                <input type="hidden" name="item_status" value="{{item.item_status.id}}"/>
              {% endif %}
              <div><input type="submit" value="Save item" style="background-color:#9c9;width: 150px;padding:10px"/></div>
              <input type="hidden" name="item_id" value="{{item.id}}"/>
            </form>
          </div>
        </td>
      </tr>
    </table>
  </div> <!-- end of 'item_list' -->
{% endblock %}
