{% extends 'lendingLibrary/base.html' %}

{% block title %}
<title>Homepage - Neighborhood Lending Library</title>
{% endblock %}

{% block hero %}
<div id="hero">
  <div id="feature_item">
    <table id="hero_table">
      <tr>
        <th colspan="2">Featured Item: {{newest_item.name}}</th>
      </tr>
      <tr>
        <td class="hero_image">
          <img src="{% if newest_item.image_url == '' %}https://lar-mo.com/images/lazy_placeholder.gif{% else %}{{newest_item.image_url}}{% endif %}">
        </td>
        <td>
          <div class="hero_item_details">
            <span>Category: </span>
            <span><a href="{% url 'lendingLibrary:category' newest_item.category %}">{{newest_item.category}}</a></span>
          </div>
          <div class="hero_item_details">
            <span>Owner: </span>
            <span><a href="{% url 'lendingLibrary:user_items' newest_item.owner.id %}">{{newest_item.owner|title}}</a></span>
          </div>
          <div class="hero_item_details">
            <span>Condition: </span>
            <span>{{newest_item.condition}}</span>
          </div>
          <div class="hero_item_details">
            <span></span>
            <span>[ <a href="#">Request this item</a> ]</span>
          </div>
        </td>
      </tr>
    </table>
  </div>
</div>
{% endblock %}

{% block heading %}
<h2>All Items</h2>
{% endblock %}

{% block content %}
  <div id="item_list">
    {% if items %}
      <table>
        <tr>
          <th>Category</th>
          <th align="left">Item</th>
          <th align="left">Description</th>
          <th>Status</th>
          <th>Owner</th>
        </tr>
        {% for item in items %}
        <tr>
          <td align="center"><a href="{% url 'lendingLibrary:category' item.category %}">{{item.category}}</a></td>
          {% if item.category.name == "Books" %}
            <td><span class="item_title">"<a href="{% url 'lendingLibrary:item_details' item.id item.slug %}">{{item.name}}</a>"</span></td>
          {% else %}
            <td><span class="item_title"><a href="{% url 'lendingLibrary:item_details' item.id item.slug %}">{{item.name}}</a></span></td>
          {% endif %}
          {% if item.description != '' %}
            <td><span class="item_description" style="width: 585px">{{item.description}}</span></td>
          {% else %}
            <td><span class="item_description" style="width: 585px"><i>no description</i></span></td>
          {% endif %}
          {% if item.item_status.name == "Available" %}
            <td style="background-color:lightgreen" align="center">{{item.item_status}}</td>
          {% elif item.item_status.name == "Unavailable" %}
            <td style="background-color:yellow" align="center">{{item.item_status}}</td>
          {% elif item.item_status.name == 'Checked Out' %}
            <td style="background-color:pink" align="center">{{item.item_status}}</td>
          {% elif item.item_status.name == "Requested" %}
            <td style="background-color:blue;color:#FFF" align="center">{{item.item_status}}</td>
          {% else %}
            <td style="background-color:white" align="center">{{item.item_status}}</td>
          {% endif %}
          {% if item.owner.username == request.user.username %}
            <td align="center">
              <a href="{% url 'lendingLibrary:my_items' %}">{{item.owner.username|title}}</a>
            </td>
          {% else %}
            <td align="center">
              <a href="user/{{item.owner.id}}/">{{item.owner.username|title}}</a>
            </td>
          {% endif %}
        </tr>
        {% endfor %}
      </table>
    {% else %}
      <p>No items are available.</p>
    {% endif %}
  </div> <!-- end of 'item_list' -->
{% endblock %}
