<div id="item_list">
  <!-- <div class="single_row"> -->
  <table>
    <tr>
      <th style="padding:5px">
        <div class="list_controls">
          <!-- <a href="{% url 'lendingLibrary:index' %}">All Items</a>&nbsp;|&nbsp; -->
          <input type="checkbox" id="cb_available"/>&nbsp;
          <a id="lnk_available"><u>Available</u></a>&nbsp;(<span id="available_count"></span>)
          &nbsp;&nbsp;|&nbsp;&nbsp;
          <select id="category_select">
            <option value="" disabled selected>Categories</option>
              {% for category in categories %}
                <option value="{{category}}">{{category}}</option>
              {% endfor %}
          </select>
        </div>
      </th>
    </tr>
  </table>

  <!-- </div> -->
  {% if items %}
      {% for item in items %}
        {% if item.item_status.name == 'Available' %}
          <div class="single_row available"> <!-- start of 'single_row' -->
        {% else %}
          <div class="single_row not_available"> <!-- start of 'single_row' -->
        {% endif %}
        <div>
          {% if 'my_items' in request.path %}
            <a href="{% url 'lendingLibrary:edit_item' item.id %}">
              <img src="{{item.image_url}}" class="item_detail_image"/>
            </a>
          {% else %}
            <a href="{% url 'lendingLibrary:item_details' item.id item.slug %}">
              <img src="{{item.image_url}}" class="item_detail_image"/>
            </a>
          {% endif %}
        </div>
        <div>
          <span class="item_title">
            {% if 'my_items' in request.path %}
              <a href="{% url 'lendingLibrary:edit_item' item.id %}">
                {{item.name}}
              </a>
            {% else %}
              <a href="{% url 'lendingLibrary:item_details' item.id item.slug %}">
                {{item.name}}
              </a>
            {% endif %}
          </span>
          {% if item.description != '' %}
          <span class="item_description">
            {{item.description}}
          </span>
          {% else %}
          <span class="item_description">
            <i>no description</i>
          </span>
          {% endif %}
          {% if request.user.username %}
            <div class="status_block">
              <span><b>Status</b>:
                  {% if item.item_status.name == "Available" %}
                    <span style="font-weight: bold; color: #379683">
                      {{item.item_status.name}}
                    </span>
                  {% elif item.item_status.name == "Requested" %}
                    <span style="font-weight: bold; color: #05386B">
                      {{item.item_status.name}}
                    </span>
                  {% else %}
                    <span style="font-weight: bold; color: #FC4445">
                      {{item.item_status.name}}
                    </span>
                  {% endif %}
              </span>
              {% if item.item_status.name != 'Unavailable' and item.item_status.name != 'Requested' and item.item_status.name != 'Checked Out' and item.owner != request.user %}
              <form action="{% url 'lendingLibrary:request_item' %}" method="post">
                {% csrf_token %}
                <input type="hidden" name="user_item" value="{{item.id}}"/>
                <input type="hidden" name="borrower" value="{{request.user.id}}"/>
                <button type="submit" class="w3-hover-blue">Request</button>
              </form>
              {% else %}
              <button style="visibility: hidden">--------</button>
              {% endif %}
            </div> <!-- end of 'status_block'-->
          {% endif %}
        </div>
        <div>
          <div>
            <span class="item_facts">
              <b>Category</b>:
            </span>
            <span>
              <a href="{% url 'lendingLibrary:category' item.category %}">
                {{item.category|title}}
              </a>
            </span>
          </div>
          {% if item.owner.username == request.user.username %}
            <div>
              <span class="item_facts"><b>Lender</b>: </span>
              <span>
                <a href="{% url 'lendingLibrary:my_items' %}">
                  {{item.owner.username|title}}
                </a>
              </span>
            </div>
          {% else %}
            <div>
              <span class="item_facts">
                <b>Lender</b>:
              </span>
              <span>
                <a href="{% url 'lendingLibrary:user_items' item.owner.id %}">
                  {{item.owner.username|title}}
                </a>
              </span>
            </div>
          {% endif %}
          <div>
            <span class="item_facts">
              <b>Condition</b>:
            </span>
            <span>
              {{item.condition}}
            </span>
          </div>
        </div>
      </div> <!-- end of 'single_row' -->
      {% endfor %}
  {% else %}
    <div class="no_items_message">
      <table>
        <tr>
          <th><h4><i>There are no available items.</i></h4></th>
        </tr>
      </table>
    </div>
  {% endif %}
</div> <!-- end of 'item_list' -->
