{% extends 'lendingLibrary/base.html' %}

{% block title %}
<title>Item Details - Neighborhood Lending Library</title>
{% endblock %}

{% block heading %}
<h2>Item Details</h2>
{% endblock %}

{% block content %}
  <div class="item_details">
    <div><img src="{{item.image_url}}" class="detail_image"/></div>
    <div class="item_details_text">
      <h3 style="text-align: left">{{item.name}}</h3>
      <span class="description">{{item.description}}</span>
      <div class="item_fields">
        <div class="field">
          <span>Category: </span>
          <span><a href="{% url 'lendingLibrary:category' item.category.name %}">{{item.category.name}}</a></span>
        </div>
        <div class="field">
          <span>Owner: </span>
          <span><a href="{% url 'lendingLibrary:user_items' item.owner.id %}">{{item.owner.username|title}}</a></span>
        </div>
        <div class="field">
          <span>Condition: </span>
          <span>{{item.condition.name}}</span>
        </div>
        <div class="field">
          <span>Replacement Cost: </span>
          <span>${{item.replacement_cost|floatformat:2}}</span>
        </div>
        <div class="field">
          <span>{{item.item_status.name}}</span>
          <span>[ <a href="#">Request this item</a> ]</span>
        </div>
      </div>
    </div>
  </div> <!-- end of 'item_details' -->
{% endblock %}
