{% extends 'lendingLibrary/base.html' %}

{% block title %}
  <title>Item Details - Community Lending Library</title>
{% endblock %}

{% block heading %}
  <h2>Item Details</h2>
{% endblock %}

{% block content %}
  <div class="item_details">
    <div class="item_details_text">
      <h4 style="text-align: left">{{item.name}}</h4>
      <span>{{item.description}}</span>
      <div class="item_fields">
        <div class="field">
          <span>&nbsp;Category: </span>
          <span><a href="{% url 'lendingLibrary:category' item.category.name %}">{{item.category.name}}</a></span>
        </div>
        <div class="field">
          <span>&nbsp;Owner: </span>
          <span><a href="{% url 'lendingLibrary:user_items' item.owner.id %}">{{item.owner.username|title}}</a></span>
        </div>
        <div class="field">
          <span>&nbsp;Condition: </span>
          <span>{{item.condition.name}}</span>
        </div>
        <div class="field">
          <span>&nbsp;Replacement Cost: </span>
          <span>${{item.replacement_cost|floatformat:2}}</span>
        </div>
        <div class="field">
          {% if item.item_status.name == 'Available' %}
          <span class="availability-true">&nbsp;{{item.item_status.name}}</span>
          <span>
            {% if request.user.is_authenticated and item.owner != request.user %}
            <form id="request_item" action="{% url 'lendingLibrary:request_item' %}" method="post">
              {% csrf_token %}
              <input type="hidden" name="user_item" value="{{item.id}}">
              <input type="hidden" name="borrower" value="{{request.user.id}}">
              [ <a href="#" onclick="request_item.submit()">Request this item</a> ]
            </form>
            {% endif %}
          </span>
          {% else %}
          <span class="availability-false">&nbsp;{{item.item_status.name}}</span>
          <span></span>
          {% endif %}
        </div>
      </div>
    </div>
    <div>
      <img src="{% if item.image_url == '' %}
        https://lar-mo.com/images/lazy_placeholder.gif
      {% else %}
        {{item.image.url}}
      {% endif %}" class="detail_image"/>
    </div>
  </div> <!-- end of 'item_details' -->
{% endblock %}
