{% extends 'lendingLibrary/base.html' %}

{% block title %}
<title>Manage Items - Neighborhood Lending Library</title>
{% endblock %}

{% block heading %}
<h2>Manage Your Items</h2>
{% endblock %}

{% block content %}
  <div style="align-items: left; width: 100%;padding: 40px 0 40px">
    <form>
      Select an item to edit: <select>
        <option>Beach Mat</option>
        <option>"Lila: An Inquiry into ..."</option>
        <option>Basketball</option>
        <option>Volleyball Net</option>
        <option>Snow Shoes</option>
      </select>
      <button>Edit</button>
    </form>
  </div>
  <div id="item_list"> <!-- start of 'item_list' -->
      <table>
        <tr>
          <th>Category</th>
          <th align="left">Item</th>
          <th align="left">Description</th>
          <th>Status</th>
        </tr>
      </table>
  </div> <!-- end of 'item_list' -->
{% endblock %}
