{% extends 'lendingLibrary/base.html' %}

{% block title %}
  <title>My Checkouts - Community Lending Library</title>
{% endblock %}

{% block heading %}
  <h2>My Requested Items & Checkouts</h2>
{% endblock %}

{% block content %}
  <div id="requests_checkouts"> <!-- start of 'requests_checkouts'-->
    {% if checkouts %}
    <table>
      <tr>
        <th>Item</th>
        <th>Owner</th>
        <th>Request Date &#x25BE;</th>
        <th>Status</th>
        <th>Checkout Date</th>
        <th>Due Date</th>
        <th>Check In Date</th>
      </tr>
      {% if message %}
      <tr id="tmp_error_message">
        <td colspan="7">
          <h4>You can't request any more items at this time.</h4>
        </td>
      </tr>
      {% endif %}
      {% for checkout in checkouts %}
      <tr align="center">
        <td><a href="{% url 'lendingLibrary:item_details' checkout.user_item.id checkout.user_item.slug %}">{{checkout.user_item.name}}</a></td>
        <td>{{checkout.user_item.owner.username|title}}</td>
        <td>{{checkout.request_date|date:'Y-m-d'}}</td>
        {% if checkout.checkout_status.name == 'Pending' %}
          <td style="background-color:#FFFF66">{{checkout.checkout_status.name}}</td>
        {% elif checkout.checkout_status.name == 'Active' %}
          <td style="background-color:lightgreen">{{checkout.checkout_status.name}}</td>
        {% elif checkout.checkout_status.name == 'Denied' %}
          <td style="background-color:pink">
            <div class="tooltip">{{checkout.checkout_status.name}}
              <span class="tooltiptext">Reason:<br>{{checkout.reason}}</span>
            </div>
          </td>
        {% elif checkout.checkout_status.name == 'Completed' %}
          <td style="background-color:#999">{{checkout.checkout_status.name}}</td>
        {% endif %}

        {% if checkout.checkout_date == None %}
          <td><i>N/A</i></td>
        {% else %}
          <td>{{checkout.checkout_date|date:'Y-m-d'}}</td>
        {% endif %}

        {% if checkout.due_date == None %}
          <td><i>N/A</i></td>
        {% else %}
          <td>{{checkout.due_date|date:'Y-m-d'}}</td>
        {% endif %}

        {% if checkout.checkin_date == None %}
          <td><i>N/A</i></td>
        {% else %}
          <td>{{checkout.checkin_date|date:'Y-m-d'}}</td>
        {% endif %}

      </tr>
      {% endfor %}
    </table>
    {% else %}
    <table>
      <tr>
        <th>Item</th>
        <th>Owner</th>
        <th>Request Date</th>
        <th>Status</th>
        <th>Checkout Date</th>
        <th>Due Date</th>
        <th>Check In Date</th>
      </tr>
    </table>
    <h3><i>You don't have any checkouts.</i></h3>
    {% endif %}
  </div> <!-- end of 'requests_checkouts'-->
  <script type="text/javascript">
    let tmp_error_message = document.querySelector('#tmp_error_message')
    if (tmp_error_message.innerHTML != '') {
      setTimeout(() => {
        window.location = {% url 'lendingLibrary:my_checkouts' %}
      }, 2000)
    }
  </script>
{% endblock %}
