{% extends 'lendingLibrary/base.html' %}

{% block title %}
<title>My Items - Neighborhood Lending Library</title>
{% endblock %}

{% block heading %}
<h2>Your Items</h2>
{% endblock %}

{% block content %}
  <div id="item_list"> <!-- start of 'item_list' -->
    {% if items %}
      <table>
        <tr>
          <th>Category</th>
          <th style="text-align:left">Item</th>
          <th style="text-align:left">Description</th>
          <th>Status</th>
          <th>Borrower</th>
        </tr>
        {% for item in items %}
        <tr>
          <td style="text-align:center">{{item.type}}</td>
          {% if item.type.name == "Books" %}
            <td><span class="item_title">"{{item.name}}"</span></td>
          {% else %}
            <td><span class="item_title">{{item.name}}</span></td>
          {% endif %}
          <td><span class="item_description">{{item.description }}</span></td>
          {% if item.item_status.name == 'Available' %}
            <td style="background-color:lightgreen" align="center">{{item.item_status}}</td>
          {% elif item.item_status.name == 'Requested' %}
            <td style="background-color:blue;color:#FFF" align="center">{{item.item_status}}</td>
          {% elif item.item_status.name == 'Checked Out' %}
            <td style="background-color:pink" align="center">{{item.item_status}}</td>
          {% elif item.item_status.name == 'Unavailable' %}
            <td style="background-color:yellow" align="center">{{item.item_status}}</td>
          {% elif item.item_status.name == 'Hidden' %}
            <td style="background-color:#777;color:#FFF" align="center">{{item.item_status}}</td>
          {% elif item.item_status.name == 'Lost' %}
            <td style="background-color:#333;color:#FFF" align="center">{{item.item_status}}</td>
          {% endif %}
          {% for request in item_requests %}
            {% if request.user_item.name == item.name %}
              <td align="center">{{request.borrower.username|title}}</td>
            {% endif %}
          {% endfor %}
          {% if item.item_status.name in filter %}
            <td>&nbsp;</td>
          {% endif %}
        </tr>
        {% endfor %}
      </table>
    {% else %}
      <p><i>You don't have any items to lend</i></p>
    {% endif %}
  </div> <!-- end of 'item_list' -->
{% endblock %}
