{% extends 'lendingLibrary/base.html' %}

{% block title %}
  <title>Add Item - Community Lending Library</title>
{% endblock %}

{% block heading %}
  <h2>Manage Your Items</h2>
{% endblock %}

{% block content %}
  {% include "lendingLibrary/manage_html_js.html" %}
  <div class="spacer"></div>
  <div id="new_item"> <!-- start of 'new_item' -->
    <table>
      <tr>
        <th><h2>Add a new item</h2></th>
      </tr>
      <tr>
        <td>
          <div class="add_edit_form_div">
            <form action="{% url 'lendingLibrary:create_new_item' %}" method="post" name="new_item_form" id="new_item_form" enctype="multipart/form-data">
              {% csrf_token %}
              <div class="field_label">
                Item Name
              </div>
              <div>
                <input name="name" type="text" required>
              </div>
              <div class="field_label">
                Description
              </div>
              <div>
                <textarea name="description" rows="7" cols="75">
                </textarea>
              </div>
              <div class="field_label">
                Image
              </div>
              <div>
                <input name="image" id="image" type="file" accept="image/*" required>
                <!-- <span>
                  <img id="item_thumbnail" class="edit_form_img_thumb" width="75"/>
                </span> -->
              </div>
              <div class="field_label">
                Category
              </div>
              <div>
                <select name="category" required>
                  <option value="" disabled selected>-----</option>
                  {% for category in categories %}
                    <option value="{{category.id}}">
                      {{category.name}}
                    </option>
                  {% endfor %}
                </select>
              </div>
              <div class="field_label">Condition</div>
              <div>
                <select name="condition" required>
                  <option value="" disabled selected>-----</option>
                  {% for condition in conditions %}
                    <option value="{{condition.id}}">
                      {{condition.name}}
                    </option>
                  {% endfor %}
                </select>
              </div>
              <div class="field_label">
                Replacement Cost
              </div>
              <div>
                &#36;&nbsp;<input name="replacement_cost" type="number" step="0.01" value="{{item.replacement_cost|floatformat:2}}" required>
              </div>
              <input type="hidden" name="item_status" value="8"/>
              <input type="hidden" name="name_slug" id="name_slug"/>
              <div class="form_submit_div">
                <input type="submit" value="Create item" class="form_submit_button"/>
              </div>
            </form>
          </div>
        </td>
      </tr>
    </table>
  </div> <!-- end of 'new_item' -->
  <!-- <script type="text/javascript">
    let image = document.querySelector('#image')
    let item_thumbnail = document.querySelector('#item_thumbnail')
    image.onchange = function() {
      // item_thumbnail.setAttribute('src', image.value)

    }
  </script> -->
{% endblock %}
