{% extends 'lendingLibrary/base.html' %}

{% block title %}
<title>Add Item - Neighborhood Lending Library</title>
{% endblock %}

{% block heading %}
<h2>Manage Your Items</h2>
{% endblock %}

{% block content %}

{% include "lendingLibrary/manage_html_js.html" %}

<div class="spacer"></div>
<div id="new_item"> <!-- start of 'new_item' -->
  <table>
    <tr>
      <th><h2>Add a new item</h2></th>
    </tr>
    <tr>
      <td>
        <div class="add_edit_form_div">
          <form action="{% url 'lendingLibrary:create_new_item' %}" method="post" name="new_item_form" id="new_item_form">
            {% csrf_token %}
            <div class="field_label">Name</div>
            <div>
              <input name="name" type="text" value="" style="width: 300px" required>
            </div>
            <div class="field_label">Description</div>
            <div>
              <textarea name="description" value="" style="width: 300px"></textarea>
            </div>
            <div class="field_label">Image URL</div>
            <div>
              <input name="image_url" type="text" value="" style="width: 300px">
            </div>
            <div class="field_label">Category</div>
            <div>
              <select name="category" value="" style="width: 300px" required>
                <option value="" selected disabled>-----</option>
                {% for category in categories %}
                  <option value="{{category.id}}">{{category.name}}</option>
                {% endfor %}
              </select>
            </div>
            <div class="field_label">Condition</div>
            <div>
              <select name="condition" value="" style="width: 300px" required>
                <option value="" selected disabled>-----</option>
                {% for condition in conditions %}
                  <option value="{{condition.id}}">{{condition.name}}</option>
                {% endfor %}
              </select>
            </div>
            <div class="field_label">Replacement Cost</div>
            <div>
              &#36;&nbsp;<input name="replacement_cost" type="number" step="0.01" value="" style="width: 300px" required>
            </div>
            <input type="hidden" name="item_status" value="8"/>
            <div class="form_submit_div">
              <input type="submit" value="Create item" class="form_submit_button"/>
            </div>
          </form>
        </div>
      </td>
    </tr>
  </table>
</div> <!-- end of 'new_item' -->
{% endblock %}
