{% extends 'lendingLibrary/base.html' %}

{% block title %}
<title>Pending Requests - Neighborhood Lending Library</title>
{% endblock %}

{% block heading %}
<h2>Pending Item Requests</h2>
{% endblock %}

{% block content %}
  <div id="pending_requests"> <!-- start of 'pending_requests'-->
    {% if pending_requests %}
    <table>
      <tr>
        <th>Item</th>
        <th>Requestor</th>
        <th>Request Date</th>
        <th>Actions</th>
      </tr>
      {% for item_request in pending_requests %}
      <tr align="center">
        <td>{{item_request.user_item.name}}</td>
        <td>{{item_request.borrower.username|title}}</td>
        <td>{{item_request.request_date|date:'Y-m-d'}}</td>
        <td><u>Due Date</u>:
          <form id="approve_form" action="{% url 'lendingLibrary:approve_request' %}" method="post">
            {% csrf_token %}
            <input type="date" name="due_date" value="{{item_request.due_date|date:'Y-m-d'}}" required/>
            <input type="hidden" name="item_request_id" value="{{item_request.id}}">
            <button type="submit">Approve</button>
          </form>
          &nbsp;or&nbsp;
          <form action="{% url 'lendingLibrary:deny_request' %}" method="post">
            {% csrf_token %}
            <input type="hidden" name="item_request_id" value="{{item_request.id}}">
            <button type="submit">Deny</button>
          </form>
        </td>
      </tr>
      {% endfor %}
    </table>
    {% else %}
    <table>
      <tr>
        <th>Item</th>
        <th>Requestor</th>
        <th>Request Date</th>
        <th>Actions</th>
      </tr>
    </table>
      <h3><i>You don't have any new requests.</i></h3>
    {% endif %}
  </div> <!-- end of 'pending_requests'-->
{% endblock %}
