{% extends 'lendingLibrary/base.html' %}

{% block title %}
<title>Profile - Community Lending Library</title>
{% endblock %}

{% block content %}
      <div id="item_list">
        <h1>{{owner.username|title}}'s Items</h1>
        {% if items %}
          <table>
            <tr align="left">
              <th>Category</th>
              <th>Item</th>
              <th>Description</th>
              <th>Status</th>
            </tr>
            {% for item in items %}
            <tr>
              <td>{{item.type}}</td>
              {% if item.type.name == "Books" %}
                <td>"{{item.name|title}}"</td>
              {% else %}
                <td>{{item.name}}</td>
              {% endif %}
              <td><span class="item_description">{{item.description}}</span></td>
              {% if item.item_status.name == 'Available' %}
                <td style="background-color:lightgreen">{{item.item_status}}</td>
              {% elif item.item_status.name == 'Unavailable' %}
                <td style="background-color:yellow">{{item.item_status}}</td>
              {% elif item.item_status.name == 'Hidden' %}
                <td style="background-color:#777;color:#FFF">{{item.item_status}}</td>
              {% elif item.item_status.name == 'Lost' %}
                <td style="background-color:#333;color:#FFF">{{item.item_status}}</td>
              {% else %}
                <td style="background-color:white">{{item.item_status}}</td>
              {% endif %}
            </tr>
            {% endfor %}
          </table>
        {% else %}
          <p>No items are available.</p>
        {% endif %}
      </div> <!-- end of 'item_list' -->
{% endblock %}
