{% extends 'lendingLibrary/base.html' %}

{% block title %}
<title>Profile - Community Lending Library</title>
{% endblock %}

{% block heading %}
<h2>{{owner.username|title}}'s Items</h2>
{% endblock %}

{% block content %}
      <div id="item_list">
        {% if items %}
          <table>
            <tr align="left">
              <th>Category</th>
              <th>Item</th>
              <th>Description</th>
              <th>Status</th>
              <th>Action</th>
            </tr>
            {% for item in items %}
            <tr>
              <td>{{item.type|title}}</td>
              {% if item.type.name == "Books" %}
                <td><span class="item_title">"{{item.name|title}}"</span></td>
              {% else %}
                <td><span class="item_title">{{item.name}}</span></td>
              {% endif %}
              <td><span class="item_description">{{item.description}}</span></td>
              {% if item.item_status.name == 'Available' %}
                <td style="background-color:lightgreen">{{item.item_status}}</td>
              {% elif item.item_status.name == 'Unavailable' %}
                <td style="background-color:yellow">{{item.item_status}}</td>
              {% else %}
                <td style="background-color:white">{{item.item_status}}</td>
              {% endif %}
              <td>
                {% if not item.item_status.name == 'Unavailable' %}
                  <button onclick="console.log('Request for {{item.name}} button clicked')">Request</button>
                {% endif %}
              </td>
            </tr>
            {% endfor %}
          </table>
        {% else %}
          <p>No items are available.</p>
        {% endif %}
      </div> <!-- end of 'item_list' -->
{% endblock %}
