{% extends 'lendingLibrary/base.html' %}

{% block title %}
  <title>Register/Login - Community Lending Library</title>
{% endblock %}

{% block heading %}
  <h2>&nbsp;</h2>
{% endblock %}

{% block content %}
  <div id="pending_requests"> <!-- start of 'pending_requests'-->
    <div id="container">
      {% if message == 'fail' %}
      <div style="background-color:red;color:white;">Your username and password did not match</div>
      {% endif %}
      <h3>Login</h3>
      <form action="{% url 'lendingLibrary:login_user' %}" method="post">
        {% csrf_token %}
        <input type="hidden" name="next" value="{{next}}"/>
        <input type="text" name="username" placeholder="username" required/>
        <input type="password" name="password" placeholder="password" required/>
        <div class="status_block"><button type="submit">Login</button></div>
      </form>
      <div id="spacer"><p>&nbsp;</p></div>
      <div id="spacer"><p>&nbsp;</p></div>
      <div id="spacer"><p>&nbsp;</p></div>
      <div id="spacer"><p>&nbsp;</p></div>
      <div id="spacer"><p>&nbsp;</p></div>
      <div id="spacer"><p>&nbsp;</p></div>
      <div id="spacer"><p>&nbsp;</p></div>
      <div id="spacer"><p>&nbsp;</p></div>
      <div id="spacer"><p>&nbsp;</p></div>
      <div id="spacer"><p>&nbsp;</p></div>
      {% if message == 'reg_error' %}
      <div style="background-color:red;color:white;">That username is already taken.</div>
      {% endif %}
      <h3><a name="register_section">Register</a></h3>
      <form action="{% url 'lendingLibrary:register_user' %}" method="post">
        {% csrf_token %}
        <input type="hidden" name="next" value="{{next}}"/>
        <input type="text" name="username" placeholder="username" required pattern="\w{3,15}" title="username must be between 3 and 15 characters, all lowercase"/>
        <input type="text" name="email" placeholder="email" required pattern="\w+@\w+\.\w+" title="please enter a properly formatted email address"/>
        <input type="password" id="input_password" name="password" placeholder="password"/>
        <input type="password" id="input_password2" name="password2" placeholder="retype password"/>
        <input type="text" id="url" name="url"/>
        <div class="status_block"><button type="submit" id="bt_register" disabled>Register</button></div>
      </form>
    </div> <!-- end of 'container'-->
    <script type="text/javascript">
      bt_register = document.querySelector('#bt_register')
      input_password = document.querySelector('#input_password')
      input_password2 = document.querySelector('#input_password2')

      bt_register.onclick = function(evt) {
        if (input_password.value != input_password2.value) {
          alert('those passwords do not match');
          evt.preventDefault();
        }
        let human = prompt("Are you a human? Type yes");
        if (human != "yes") {
          evt.preventDefault();
        }
        return false;
      }
    </script>
  </div> <!-- end of 'pending_requests'-->
  <div id="spacer"><p>&nbsp;</p></div>
  <div id="spacer"><p>&nbsp;</p></div>
  <div id="spacer"><p>&nbsp;</p></div>
  <div id="spacer"><p>&nbsp;</p></div>
{% endblock %}
