{% extends 'lendingLibrary/base.html' %}

{% block title %}
<title>User's Items - Neighborhood Lending Library</title>
{% endblock %}

{% block heading %}
<h2>{{owner.username|title}}'s Items</h2>
{% endblock %}

{% block content %}
      <div id="item_list">
        {% if items %}
          <table>
            <tr>
              <th>Category</th>
              <th align="left">Item</th>
              <th align="left">Description</th>
              <th>Status</th>
              <th>Action</th>
            </tr>
            {% for item in items %}
            <tr>
              <td align="center">{{item.type|title}}</td>
              {% if item.type.name == "Books" %}
                <td><span class="item_title">"{{item.name|title}}"</span></td>
              {% else %}
                <td><span class="item_title">{{item.name}}</span></td>
              {% endif %}
              <td><span class="item_description">{{item.description}}</span></td>
              {% if item.item_status.name == 'Available' %}
                <td style="background-color:lightgreen" align="center">{{item.item_status}}</td>
              {% elif item.item_status.name == 'Unavailable' %}
                <td style="background-color:yellow" align="center">{{item.item_status}}</td>
              {% elif item.item_status.name == 'Checked Out' %}
                <td style="background-color:pink" align="center">{{item.item_status}}</td>
              {% elif item.item_status.name == 'Requested' %}
                <td style="background-color:blue;color:white" align="center">{{item.item_status}}</td>
              {% else %}
                <td style="background-color:white" align="center">{{item.item_status}}</td>
              {% endif %}
              {% if request.user.username %}
                <td align="center">
                  {% if item.item_status.name != 'Unavailable' and item.item_status.name != 'Requested' and item.item_status.name != 'Checked Out' %}
                  <form action="{% url 'lendingLibrary:request_item' %}" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="user_item" value="{{item.id}}"/>
                    <input type="hidden" name="borrower" value="{{request.user.id}}"/>
                    <button type="submit">Request</button>
                  </form>
                  {% endif %}
                </td>
              {% else %}
                <td style="font-size:0.7em">You have to be logged in.</td>
              {% endif %}
            </tr>
            {% endfor %}
          </table>
        {% else %}
          <p>No items are available.</p>
        {% endif %}
      </div> <!-- end of 'item_list' -->
{% endblock %}
